<?php

namespace Printify\Tests;

/**
 * If you want to run tests, copy this file in this directory without the .dist extension
 * and enter your credentials here
 */
class Credentials
{
    /**
     * @var string
     */
    public static $shop_id = '';

    /**
     * @var string
     */
    public static $account_token = '';
}
